.header {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: rgb(55, 193, 231) ;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.travel-planner-logo {
  text-align: left;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 40px auto;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.travel-planner-logo h1 {
  margin: 20px 20px 20px 0px;
  color: white;
  text-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.travel-planner-logo svg {
  width: 100%;
  fill: white;
  
}

.search-bar-wrapper {
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto;
}

#search-query-submit {
  width: max-content;
  margin: 20px 0px 20px 0px;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: black;
  background-color: rgb(239, 239, 239);
  font-weight: 400;
  transition: box-shadow 0.3s ease; 
  
}

#search-query-submit:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

#search-bar {
  width: 900px;
  margin: 20px 10px 20px 10px;
  transition: box-shadow 0.3s ease; 
  border-radius: 30px;
  border: none;
}

#search-bar:focus {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}
.profile-circle {
  display: grid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  justify-self: end;
  background-color: white;
  align-content: center;
  cursor: pointer;
  border: 1px solid rgb(210, 209, 209);
}

.profile-circle:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}


.profile-circle p {
  font-size: 25px;
}

.user-panel {
  position: absolute;
  right: 100px;
  top: 45px;
  z-index: 10;
  min-width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.user-panel a {
  text-decoration: none;
  color: black;
}

.user-panel p {
  margin: 10px;
  font-size: 18px;
}
