* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh;
  display: grid; 
  grid-template-columns: 280px 1fr;
  grid-template-rows: 80px 1fr;
   background: linear-gradient(135deg, rgb(57, 198, 237), rgb(224, 232, 234));
}